[2021-03-11 01:08] renovate[bot] opened #5 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-03-23 19:13] moonmeister opened #11 "add[gatsby-plugin-readingtime]: submition"
## Info

- Plugin Name: gatsby-plugin-readingtime
- Plugin Repository: https://github.com/moonmeister/gatsby-plugin-readingtime
- Plugin NPM page: https://www.npmjs.com/package/gatsby-plugin-readingtime

## Overview

Enables calculating a reading time estimate for any configurable Data in Gatsby's data layer.

[2021-05-20 18:08] phmasek opened #344 "feat(gatsby-source-strapi): Add timeout setting for data fetching"
I've got a video file that is about 100mb hosted on my remote Strapi CMS server. It receives timeout before it manages to download the file.

Is it possible to adjust the timeout somehow?

[2021-07-30 18:59] #11 closed

[2021-08-02 09:05] jariz opened #24 "add[plugin-name]: gatsby-plugin-s3"
## Info

- Plugin Name: `gatsby-plugin-s3`
- Plugin Repository: https://github.com/jariz/gatsby-plugin-s3/
- Plugin NPM page: https://www.npmjs.com/package/gatsby-plugin-s3

## Overview

Hi, I saw this repo and I think it quite fits with my situation.
I maintain `gatsby-plugin-s3`, [the recommended way to deploy to S3 in the gatsby docs itself](https://www.gatsbyjs.com/docs/how-to/previews-deploys

[2021-08-02 19:25] moonmeister commented on #24
Hello! This is the perfect case for moving this here. Thanks for the contribution.

There's a couple things only you can do:

- [ ] Transfer the GitHub repo to this org. (GitHub wil automatically redirect folks with the old url)
- [ ] Add me (moonmeister) as a collaborator (write access) on the npm package and I'll give the `gatsby-uc` publisher's team access (for now it's just me).

https://docs.

[2021-08-02 19:29] moonmeister commented on #24
the one thing I don't know how to handle would be moving issues/PRs from the current repo. I'll take a look once the repo is over and see what can be done. I'm not against leaving it in it's own repo if that's better.

[2021-08-03 11:31] jariz commented on #24
Hi, great!
I'll look into this somewhere today / tomorrow.
I'm fine with creating the PR myself.

[2021-09-01 17:11] moonmeister opened #30 "feat(gatsby-plugin-fastify): Server Headers"
Add a `Server` header to identify the server.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Server

[2021-09-01 17:13] moonmeister opened #31 "feat(gatsby-plugin-fastify): Early Hints"
I wonder if it'd be beneficial/helpful to implement early hints.

https://github.com/zekth/fastify-early-hints
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/103

[2021-09-13 19:26] moonmeister commented on #24
Still hoping to get this done if you have time @jariz

[2021-09-13 19:40] moonmeister opened #54 "add[gatsby-plugin-ackee-tracker]"
## Info

- Plugin Name: gatsby-plugin-ackee-tracker
- Plugin Repository: https://github.com/gatsby-uc/gatsby-plugin-ackee-tracker
- Plugin NPM page: https://www.npmjs.com/package/gatsby-plugin-ackee-tracker

## Overview

Enables Ackee Tracker in Gatsby site.

## Tasks:

Contributor Tasks:
- [x] Move Repo ot `gatsby-uc`
- [x] [Add `moonmeister` as a maintainer](https://docs.npmjs.com/transferring-a

[2021-09-14 18:47] #54 closed

[2021-09-15 02:36] moonmeister opened #59 "feat(gatsby-plugin-fastify): Security Headers"
**Is your feature request related to a problem? Please describe.**
There's no ability to add any custom headers or good defaults around security headers.

**Describe the solution you'd like**
I'd like to see some good defaults around security headers with the ability to override as desired.

[2021-09-15 02:38] moonmeister opened #60 "feat(gatsby-plugin-fastify): TS Types"
## Is your feature request related to a problem? Please describe.
If folks are building a custom server none of the TS types are being shipped with the package. IT'd be nice to provide those.

## Describe the solution you'd like
Make sure TS types are included in the package.

[2021-09-23 22:53] moonmeister opened #70 "Implement testing for various packages"
Most of the packages here don't have testing. I don't have time to implement but if anyone does it'd be super helpful in giving more confidence around package updates and deploys.

- [ ] gatsby-plugin-fastify
- [ ] gatsby-plugin-relative-ci
- [ ] gatsby-plugin-reading-time
- [ ] gatsby-plugin-ackee-tracker

[2021-09-28 05:11] moonmeister commented on #59
https://github.com/gatsbyjs/gatsby/blob/08c5b2a55559fd1419222ae6cb5a7d3c1e2a098d/packages/gatsby-plugin-gatsby-cloud/src/constants.js#L23

[2021-09-28 05:17] moonmeister commented on #31
https://github.com/gatsbyjs/gatsby/blob/44afaf58762e1685fcf895b1e87a860c3ae9973a/packages/gatsby-plugin-gatsby-cloud/src/build-headers-program.js#L97

[2021-09-28 13:24] laneparton commented on #70
@moonmeister Do you know any example repos or packages that might serve as a good reference?

[2021-09-28 14:39] moonmeister commented on #70
Yeah. I'd go checkout packages in the Gatsby repo. To keep things easy we'll probably use just and and the same setup patterns. I've worked on "gatsby-plugin-manifest" manifest but there are lots of plugins with tests.

[2021-09-28 15:48] moonmeister commented on #70
https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-manifest/src/__tests__

https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sitemap/src/__tests__

[2021-09-28 16:06] laneparton commented on #70
@moonmeister Thanks Alex! This is something I've been looking to get some experience with. I'll start poking around tonight 😄

If I have any specific questions - I might ping you on Discord!

[2021-10-18 18:35] moonmeister opened #99 "rewrite(gatsby-plugin-fastifty): Implement better logging"
## Is your feature request related to a problem? Please describe.

console  logs everywhere aren't great. Needs something more granular. For instance, when running test we don't need any logging.

## Describe the solution you'd like

Fastify uses pino internally. We could maybe use this or use pino on it's own. Needs more research.

[2021-10-27 09:31] OPerel opened #106 "bug(gatsby-plugin-ackee-tracker): Plugin isn't working"
## Describe the bug
No tracking is done for my website with any version later than `3.0.0`.
As far as I can tell the plugin is missing completely from the build.
With `v3.0.0` I can see the tracker module when I search the source code in the dev tools:
![tracker](https://user-images.githubusercontent.com/42510547/138155390-a0bd74aa-0fd6-4cdf-a54c-eab4a963993e.png)

But I also get these errors and

[2021-10-28 21:23] #106 closed, assigned to nobody

[2021-11-02 06:15] moonmeister opened #117 "feat(gatsby-plugin-fastify): allow adding custom error/404 handlers"
## Is your feature request related to a problem? Please describe.

https://github.com/gatsby-uc/plugins/discussions/105

also people might want to implement some kind of log tracking. figure out how to best do these.

## Describe the solution you'd like

not really sure. could be a function where users can do anything. need to understand pino better and maybe errors and 404 should be handled diffe

[2021-11-03 21:09] moonmeister opened #118 "feat(gatsby-plugin-fasify): Server Side Caching"
## Is your feature request related to a problem? Please describe.

DSG in particular could benefit from caching. But SSR and static file serving could too. In particular not just files but their compressed versions so files aren't recompressed on every request.

LRU cache for most of this should be suitable. Maybe standard in memory cache for DSG, or even just persist DSG routes to disk then LRU f

[2021-11-05 15:07] moonmeister commented on #118
https://www.npmjs.com/package/lru-cache
https://www.npmjs.com/package/cache-manager

[2021-11-05 23:02] #30 closed

[2021-11-09 14:51] moonmeister opened #121 "feat(gatsby-plugin-fastify): Support SSR status code return"
## Is your feature request related to a problem? Please describe.

https://github.com/gatsbyjs/gatsby/issues/33910

Add support for the status code being returned from `getServerData`. This was a non-working bug for initial v4 bug and the team has since confirmed the bug and the API that should be used.

[2021-11-24 11:25] robinmetral opened #122 "add gatsby-source-s3"
### Plugin Repository

https://github.com/robinmetral/gatsby-source-s3

### Plugin Package

https://www.npmjs.com/package/@robinmetral/gatsby-source-s3

### Plugin Description

tl;dr: the plugin pulls images from AWS S3 buckets at build time. It enables Gatsby to process them with sharp, while hosting the raw images off of GitHub—useful for image-heavy sites and blogs that don't use a CMS.

---

E

[2021-11-24 16:47] moonmeister commented on #122
Hello Robin! We'd love to host the plugin. Bellow are the steps for you and me. Since this is published under your user scope I'm not sure if that makes permissions different or if they're the same. It would be nice if @DSchau could give us access to the `gatsby-source-s3` name and we could just depreciate `@robinmetral/gatsby-source-s3` in favor of that.

Dustin, you interested?

Robin, Let me kn

[2021-11-24 17:23] robinmetral commented on #122
Yeah definitely, otherwise we could also create something like a `@gatsby-uc` scope to put it under 🙂

I'll look into moving the repo asap and let you know when I have questions (will probably have some around CI etc.)

[2021-11-24 18:38] moonmeister commented on #121
Solved in #123

[2021-11-24 18:38] #121 closed

[2021-11-24 20:39] moonmeister commented on #122
Dustin got me added to `gatsby-source-s3`

[2021-11-24 20:40] DSchau commented on #122
Hey folks 👋

Thanks for the ping. @moonmeister DM'd me which was a great bat signal to reply and check in on this. Thank you!

Here's what I've done:

- Added @moonmeister as an owner of the gatsby-source-s3 package

Here's what I will do:

- [x] Say thank you to both ;)

Thank you!! I really appreciate you all taking the lead on this and improving the lives of Gatsby users using S3. One thing tha

[2021-11-24 20:41] DSchau commented on #122
@moonmeister you can feel free to do whatever you'd like to the README, mention it's deprecated in favor of this package, etc. etc. You have carte blanche, and I trust your judgment!

[2021-12-07 20:00] moonmeister commented on #122
@robinmetral Would love to get this moved if you got time to [move that repo](https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository#transferring-a-repository-owned-by-your-user-account) into the `gatsby-uc`.

[2022-01-06 12:15] mariovde-IIO opened #343 "feat(gatsby-source-strapi): Graphql filter on one type doesn't work"
Hi,

Question:
I use the queries below in the gatsby-graphql playground.
When I use the current query:

[code]

I get this as a result

[code]
Always 2 results (there are 2 entries in strapi at the moment)
If I change the id to filter, to either 1 or 2, I always get 2 results.
When changing it to anything else then 1 or 2, I get nothing as a result.

What am I doing wrong here?

Also, I got "strap

[2022-01-13 22:47] moonmeister commented on #122
Hey @robinmetral, I'll be talking at Gatsby Conf regarding the GUC and some of the cool plugins we are maintaining. I'd love for `gatsby-source-s3` to be apart of that.  LEt me know if you have any questions. The two actions I need from you (moving the repo and giving me npm permissions) shouldn't take more than 5 minutes. Thanks!

[2022-01-13 22:49] moonmeister commented on #24
Hey @jariz , I'll be talking at Gatsby Conf regarding the GUC and some of the cool plugins we are maintaining. I'd love for `gatsby-source-s3` to be apart of that.  Let me know if you have any questions. The two actions I need from you (moving the repo and giving me npm permissions) shouldn't take more than 5 minutes. Thanks!

[2022-01-16 01:12] moonmeister commented on #118
Closing as this should probably be handled by an edge server, eg nginx. Not the application server.

[2022-01-16 01:12] #118 closed

[2022-01-17 16:26] robinmetral commented on #122
Hey @moonmeister, happy 2022! I'm super sorry, the past few months were crazy. I'm stoked to hear about the Gatsby Conf plans and I promise I'll get this done by EOW (at least the ownership transfer). After that I'll try to help with the e2e test setup etc., which probably won't be as straightforward to move over, but let's see 🙂

[2022-01-23 15:13] robinmetral commented on #122
Oops, I need to have the permission to create repos in `gatsby-uc` to be able to transfer it.

I've invited you as a maintainer on the [npm package](https://www.npmjs.com/package/@robinmetral/gatsby-source-s3) 🙂

[2022-01-23 17:10] moonmeister commented on #122
You should be able to request the transfer and I just accept it. 🤔

[2022-01-23 17:14] moonmeister commented on #122
I've invited you to be a maintainer

[2022-01-23 22:48] robinmetral commented on #122
Awesome! Repo moved at [gatsby-uc/gatsby-source-s3](https://github.com/gatsby-uc/gatsby-source-s3) ✅

Let me know if you need help for next steps. Some thoughts:

1. move the project into `gatsby-uc/plugins`
    - we'll need to figure out what to do with e2e tests here since they connect to my personal AWS account for now
    - happy to help with other things if I can, but generally the repo is pr

[2022-01-24 05:06] moonmeister commented on #122
I'm guessing by `gatsby-source-pinterest` you mean s3?

[2022-01-24 07:26] robinmetral commented on #122
Yes sorry 🙈 long week and many mixing plugins, I'm starting to mix them up 😄 (edited)

[2022-01-28 19:53] moonmeister opened #147 "feat(gatsby-plugin-fastify): Support new `trailingSlash` config"
## Is your feature request related to a problem? Please describe.

Gatsby now has a native config option for trailing slash config...we should support this.

https://github.com/gatsbyjs/gatsby/pull/34268

[2022-01-31 18:19] moonmeister commented on #122
Okay @robinmetral for tests, do you mind if we just continue using your existing s3 buckets? if so can you DM me the needed secrets? thanks!

[2022-02-01 09:19] robinmetral commented on #122
I think this would be fine for now, yes 🙂 let me grab new secrets with the proper access and I'll send them over DM later today

[2022-02-01 16:59] Vacilando opened #159 "feat(gatsby-source-s3): Leverage Cache API"
Can we better leverage [Gatsby Cache API](https://www.gatsbyjs.com/docs/build-caching/) so that the pulled images persist between builds?

This is to continue the discussion from a previous incarnation of this module, see https://github.com/gatsby-uc/gatsby-source-s3/issues/16#issuecomment-1026048453

[2022-02-08 19:32] moonmeister commented on #147
https://github.com/gatsbyjs/gatsby/discussions/34205

[2022-02-08 19:33] moonmeister commented on #147
https://www.gatsbyjs.com/docs/reference/config-files/gatsby-config/#trailingslash

[2022-02-16 05:48] moonmeister commented on #122
DONE!

[2022-02-16 05:48] #122 closed

[2022-02-16 09:07] robinmetral commented on #122
Awesome! Thanks a lot for this 🙌 Can't wait to see the Gatsby UC grow!

[2022-02-19 14:01] mwoelk opened #342 "feat(gatsby-source-strapi): Support plugin prefixes"
Plugins such as `i18n` include their own content types such as `locale` that can be queried via the api as well.
Those are exposed on sub paths of the form `/api/{plugin}/{pluralName}`.

When trying to fetch e.g. the `locale` type, currently the request is made to `/api/locales` as it is resolved through the fetched schema but the plugin prefix is not used although it can be derived from the `plug

[2022-02-27 17:25] moonmeister opened #181 "add: gatsby-source-supabase"
### Plugin Repository

alan2207/gatsby-source-supabase

### Plugin Package

package/gatsby-source-supabase

### Plugin Description

Sources data from supabase

### Tasks

Contributor Tasks:
- [x] Move Repo to `gatsby-uc`
- [x] [Add `moonmeister` as a maintainer](https://docs.npmjs.com/transferring-a-package-from-a-user-account-to-another-user-account) on your npm package.

Admin Tasks:
- [x] Move

[2022-02-28 07:11] whidy opened #341 "feat(gatsby-source-strapi): Need a customize headers option pass to gatsby-source-filesystem plugin"
Before this v4 plugin published, I use another plugin [relate-app/gatsby-source-strapi](https://github.com/relate-app/gatsby-source-strapi) for replaced. That plugin document has provide options but not passing headers, I don't know why.

But add a additional headers it really useful. Sometimes markdown content has a CDN image with security policy cannot visit directly, we need send customize head

[2022-02-28 18:29] moonmeister commented on #181
Thanks @alan2207

[2022-02-28 18:29] #181 closed

[2022-03-04 10:10] cameronbraid opened #194 "feat(gatsby-plugin-fastify): Support new image cdn"
https://support.gatsbyjs.com/hc/en-us/articles/4426393233171

[2022-03-04 10:13] cameronbraid commented on #194
I think all that is required is to implement a fastify version of the express dev server code in  https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-utils/src/polyfill-remote-file/http-routes.ts

[2022-03-05 01:32] moonmeister commented on #194
This crossed my mind during the announcement. I need to get this to 1.0 before I have much time to invest in additional features like this. I do hope we can use what's used in the dev server though the fact that it's in the dev server makes me wonder. Will have to check that out.

[2022-03-06 02:59] jasloe opened #195 "bug(gatsby-source-s3): Access Denied error on gatsby develop"
## Describe the bug

This is more of a help request than a bug report. I'm both seeking clarity whether this is a known issue, a misconfiguration on my end, or whether this plugin support v4.

Following Gatsby and S3 configuration, `gatsby develop` returns:
[code]
## To Reproduce

[code]
Add to plugins:
[code]
Add AWS credentials to .env and populate bucket with one jpg file, then:
[code]
Bootstra

[2022-03-14 00:50] cameronbraid commented on #194
its in the dev server so that when running develop it uses a local _gatsby/image handler to do the transforms locally

[2022-03-14 03:26] ohcmadah opened #340 "bug(gatsby-source-strapi): `content.data` is null when `lastFetched` exists"
Hi,

I have a richtext type `content` field. Everything was good when I build it for the first time without cache.
But I modified the `post` in Strapi and rebuilt it. Then the `content.data` of the `post` that I modified was **null**.

<img src="https://user-images.githubusercontent.com/52340070/158099098-d824ea0e-7337-4cf9-8722-9e05d6e9ec5e.png" alt="graphql" width="300" />

### version

gatsby `

[2022-03-14 16:14] moonmeister opened #196 "feat(gatsby-plugin-fastify): support HTTP Proxies"
## Is your feature request related to a problem? Please describe.

Support Reverse Proxy configs from `createRedirect` as Gatsby cloud now does.

## Describe the solution you'd like

https://support.gatsbyjs.com/hc/en-us/articles/1500003051241-Working-with-Redirects-and-Rewrites

[2022-03-14 16:19] moonmeister commented on #194
I understand that...to expound on what I mean. The reason this plugin exists is because much of the code in the dev server is not as secure or performant as expected for a production grade server. I'm not sure whether this is the case for the implementation of the image conversion...but something that needs to be investigated and understood when deciding to reuse code vs re-implementing ourselves.

[2022-03-15 05:42] moonmeister commented on #195
Hey! Do you have something like https://www.npmjs.com/package/dotenv in your Gatsby config? If not, those variables won't be made available in the `process.env` variable.

[2022-03-20 15:22] denisgoryaynov opened #339 "bug(gatsby-source-strapi): Relations are not picked up if they are named "parent" or "children""
Since "parent" and "children" are reserved keywords in gatsby, this plugin automatically appends "strapi_" to the relation name. Since the relations are now named "strapi_parent" and "strapi_children" the code on this line doesn't work, https://github.com/strapi/gatsby-source-strapi/blob/2a60320b16ae6520617d743158c433d384dbd155/src/download-media-files.js#L117, since the relations on the strapi sc

[2022-03-22 18:58] #196 closed

[2022-04-20 17:02] #194 closed

[2022-04-26 13:20] starrett67 opened #215 "feat(gatsby-plugin-fastify): Support SSR routes with match paths"
## Is your feature request related to a problem? Please describe.
I'm trying to use this plugin and realized that the plugin does not support my serverside routes because they use match paths. Consider creating a page like this:
[code]
This creates an SSR page with a match path for all product description pages in my app. However, in the plugin code, it will treat any path with a match path as a c

[2022-04-26 14:29] starrett67 commented on #215
I went ahead and create a PR that I think will provide support for this feature:
https://github.com/gatsby-uc/plugins/pull/216

I tested this locally in my project and it works for serverside routes with match paths.

[2022-05-06 15:54] youmeokay opened #338 "bug (gatsby-source-strapi): Build breaks trying to display RichText changes (richtext.data = null)"
Hi there,

I hope this is the right place to address this issues, maybe it has to do with another plugin I am using, currently not sure. So I start here, because I can't find anything on the web regarding this.

My problem is around previewing richtext content updates, AFTER they are initially filled. So in a single-type (/previewtest), I have a richtext-field and when I initially put content in t

[2022-05-11 21:37] Vacilando opened #220 "feat(gatsby-source-s3): Support Image CDN"
Gatsby's new _Image CDN_ can easily be supported by making use of `gatsbyImage`, see https://support.gatsbyjs.com/hc/en-us/articles/4426393233171-How-to-Enable-Image-CDN — meaning a considerable performance improvement.

[2022-05-12 13:55] moonmeister commented on #220
Great idea. Would you like to submit a PR for that?

[2022-06-02 14:04] tsdexter opened #223 "bug(gatsby-plugin-fastify): using deprecated packages"
## Describe the bug

I can't build due to deprecation errors:

`HttpErrorGeneral: 404 Not Found - GET https://registry.npmjs.org/fastify-accepts-deprecated - Not found` and several other related errors with other fastify packages

It looks like all the fastify packages were moved to the `@fastify` scope

## To Reproduce

Do a new install

## Expected behavior

No errors

## System Info

Please pro

[2022-06-04 22:46] moonmeister commented on #223
Hmmm, I know those fastify packages were moved with the release of fastify@v4. We haven't made any updates that should break things that I'm aware of. But I've been out of touch. Let me check some things.

[2022-06-04 22:52] moonmeister commented on #223
Yeah, looks like the package still exists under the old name and should be available to install from npm. I'm not sure why it'd be 404ing. It should work even if depreciated.

[2022-06-04 23:09] moonmeister commented on #223
Yeah, looks like the package still exists under the old name and should be available to install from npm. I'm not sure why it'd be 404ing. It should work even if depreciated.

[2022-06-05 09:30] robinmetral opened #224 "add gatsby-plugin-pinterest"
### Plugin Repository

https://github.com/robinmetral/gatsby-plugin-pinterest

### Plugin Package

https://www.npmjs.com/package/gatsby-plugin-pinterest

### Plugin Description

Plugin to inject Pinterest's script at runtime. There are two main use-cases of it:

- Pinterest embeds (for example, the plugin is used under the hood by [gatsby-remark-embedder](https://github.com/MichaelDeBoey/gatsby-re

[2022-06-05 13:59] moonmeister commented on #224
Hey! Yup, happy to take it. I am traveling without a computer for the summer which means I can really only review PRs. But happy to do so. Fyi, connectivity is limited so it may take me a while.

[2022-06-06 17:17] tsdexter commented on #223
@moonmeister thx for the update from afar... I thought it was strange also... not sure if NPM was having a bad day or something else was causing it, but it was only happening on WP Engine Atlas platform, not locally. It looks like it's gotten passed that when rebuilding today and is not complaining about `stack Error: not found: make` ... I'll come back and close this if appropriate after a bit mo

[2022-06-14 02:19] NelisDrost opened #225 "feat(gatsby-source-s3): download non-image files"
I'd like to be able to retrieve files other than images from S3, and access them through GraphQL.

Currently, localfile nodes are only generated in GraphQL for image files, and not e.g.: mdx, json or other data/text files.

I'm specifically interested in mdx files (which I assume could then be ingested by gatsby-transformer-mdx).

Is there a design reason for only creating local file nodes for ima

[2022-07-09 18:58] laurenskling opened #337 "feat(gatsby-source-strapi): singleType fetch error doesn't panic"
I was wondering so hard why I didn't see my content in Gatsby. Turned out, the endpoint was giving an error 500 but that isn't handled by the source plugin. I guess here: https://github.com/strapi/gatsby-source-strapi/blob/c72d6c75edc6ab2a9857185946b4c979550b7a37/src/fetch.js#L92
no idea why this would be commented. It feels risky to not panic on fetch errors, right? But mostly this was some terri

[2022-07-20 21:10] IanSpringer opened #336 "Image processing for gatsby image breaks when using relation field in Dynamic Zone"

[2022-07-20 21:49] tsdexter opened #228 "bug(gatsby-plugin-fastify): SSR fallback routes do not work"
## Describe the bug

Regular Gatsby SSR routes work fine but SSR fallback routes (as documented here: https://www.gatsbyjs.com/docs/reference/routing/file-system-route-api/#collection-route--fallback) do not work on the fastify server (they do in dev and gatsbycloud)

## To Reproduce

1. Create some File System Routing API pages from your CMS data `pages/{nodeType.uri}.tsx` where the URI may inclu

[2022-07-20 21:50] tsdexter commented on #228
@moonmeister if you can point me in the right direction, I'm open to submitting a PR, time permitting

[2022-07-21 01:15] moonmeister commented on #228
https://github.com/gatsby-uc/plugins/tree/main/packages%2Fgatsby-plugin-fastify%2Fsrc%2Fplugins contains the server routing plugin and the client only routes plugin. Not sure which is the culprit, but I'd start there, probably with client only routes.

If that's a newer feature, or really either way, I often go find the code for Gatsby's dev server to use as a reference for the basics how to imple

[2022-08-17 20:36] graysonhicks opened #335 "Support Gatsby Image CDN"
Hi!  Gatsby Cloud now offers an [Image CDN](https://www.gatsbyjs.com/blog/image-cdn-lightning-fast-image-processing-for-gatsby-cloud/) that allows users to take full advantage of [gatsby-plugin-image](https://www.gatsbyjs.com/plugins/gatsby-plugin-image/), without sacrificing build speed.  I noticed that Strapi doesn't support it, but there are [docs for adding support here](https://www.gatsbyjs.c

[2022-08-25 14:38] moonmeister commented on #228
@tsdexter You have any luck with this?

[2022-08-25 16:04] moonmeister opened #229 "research(repo): investigate improving testing"
Testing is currently slow and fragile. Investigate ways to improve this performance including using vitest and tools like nx/turborepo

[2022-08-25 16:15] moonmeister commented on #224
I've got some availability if we want to pick this back up.

[2022-08-25 17:24] tsdexter commented on #228
@moonmeister I've had to work on other more crucial features since but we still need this working for launch, so I will have to come back to it eventually if someone else doesn't get to it first.

[2022-09-06 22:42] moonmeister commented on #215
Hey, I'm trying to looking to this and get your PR merged. I"m not sure what feature of Gatsby this is you're referring to other than the standard [client only routes](https://www.gatsbyjs.com/docs/how-to/routing/client-only-routes-and-user-authentication/#how-to-configure-your-hosting-service-to-handle-client-only-routes).

This feature does require server side support, but that's why the https:/

[2022-09-07 14:50] renovate[bot] opened #248 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json5`
Error type: Invalid JSON5 (parsing failed)
Message: `JSON5.parse error:  JSON5: invalid character '{' at 42:5`

[2022-09-07 15:03] #248 closed

[2022-09-08 01:33] moonmeister commented on #195
IF you're still having issues please reopen.

[2022-09-08 01:33] #195 closed

[2022-09-08 01:34] moonmeister commented on #220
an implementation has been made, testing is needed, and performance is not guaranteed. we'll revisit if folks are using it.

[2022-09-08 20:10] Vacilando commented on #220
Wow, great; will be glad to test - what should I install and is there any flag / config to enable Image CDN for this plugin?
I don't see it in v3.1.2.

[2022-09-08 20:20] moonmeister commented on #220
Opps, closed this without reading closely. Wrong plugin.

[2022-09-21 22:07] Vacilando opened #255 "bug(gatsby-source-s3): There was an error in your GraphQL query"
In Gatsby 4.23.0 switched from:
`"@robinmetral/gatsby-source-s3": "^3.0.0",`
to:
`"gatsby-source-s3": "^3.1.2",`

The build (Gatsby Cloud) did not complete, showing error:

Tried and checked many times, same error.
Eventually had to revert back to `@robinmetral/gatsby-source-s3`.

[2022-09-23 06:29] moonmeister commented on #255
Hi @Vacilando!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide

[2022-09-23 06:32] moonmeister commented on #255
Without a reproduction all I can do is guess. My first one would be to know if you ran `gatsby clean` after updating.

[2022-09-23 08:34] Vacilando commented on #255
Preparing a reproduction is considerable work. I can do it if I hear here that nobody else has issues running the newest gatsby-source-s3 as a replacement for the last @robinmetral/gatsby-source-s3. The old repo is still much more used than the new one. Does the new one actually work? Are there automatic tests that confirm it?

If I see it works for others and my case is isolated, I'll be happy to

[2022-09-23 16:56] moonmeister commented on #255
Yes, the same tests that ran for that version are running on this version and passing.

[2022-09-24 17:27] #215 closed

[2022-09-26 11:30] magiino opened #257 "bug(gatsby-plugin-fastify): query parameters for ssr page"
## Describe the bug
I have one SSR page `index.tsx` which takes one query parameter `c`. Example => `http://localhost:8000/?c=E5kKbMXNRPw`

When i start server and visit root page with query parameter `http://localhost:8000/?c=E5kKbMXNRPw`
I get error message - `{"level":50,"time":1664189278263,"pid":37352,"hostname":"DESKTOP-aaa","msg":"Error processing /?c=E5kKbMXNRPw, No page found for /?c=E5kK

[2022-09-27 13:33] moonmeister commented on #228
Fixed in #253

[2022-09-27 13:33] #228 closed

[2022-09-27 13:36] moonmeister commented on #257
Interesting. I'm not sure of the cause off hand, but won't have time for a couple weeks to take a look at the issue. If you can dig in and figure it out a PR would be welcome. Thanks for the report.

[2022-10-03 04:12] moonmeister commented on #257
confirmed, fix on its way.

[2022-10-03 04:34] #257 closed

[2022-10-03 08:48] ahansson89 commented on #255
I get the same error

[2022-10-04 02:50] NguyenKyThinh94 opened #265 "bug(gatsby-plugin-fastify): Not work on docker"
## Describe the bug
I set `GATSBY_SERVER_ADDRESS=0.0.0.0`
fastify can not access ip of docker network. Fastify always use `170.0.0.1`
And my nginx server can not access:
[code]

[2022-10-04 03:42] moonmeister commented on #265
Hi {name}!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a mi

[2022-10-04 04:24] moonmeister commented on #265
ah, I figured it out! I documented this incorrectly. should be `GATSBY_SERVER_HOST`

[2022-10-04 04:33] #265 closed

[2022-10-04 04:38] moonmeister commented on #229
I've done a lot of work to try and use vitest. its....interesting. I think the issue here is probably the webpack vs vite compilation cause I'm fixing bugs that don't exist in the other versions. This seems like a bad move to be testing different code then we're running in production. For that reason alone, don't mind I haven't fixed the harder bugs, I'm not moving forward with vite.

I have a PR

[2022-10-04 04:38] #229 closed

[2022-10-04 04:41] moonmeister commented on #255
#262 will be released with #261. Feel free to reopen this if it's not resolved.

[2022-10-04 06:29] NguyenKyThinh94 commented on #265
OKay, Many thanks

[2022-10-04 10:49] Vacilando commented on #255
Same problem with 3.1.3. - despite gatsby clean and a fresh build.

<img width="754" alt="image" src="https://user-images.githubusercontent.com/147258/193800565-9c876419-ed15-46d3-a771-bdbd1d001f6e.png">

We've had to revert to using the last @robinmetral/gatsby-source-s3 once again.

NB I have no rights to reopen this ticket.

[2022-10-04 17:13] moonmeister commented on #255
Thanks gents. I just figured out the compiled files were somehow not getting deployed with the build. I know why they weren't, not sure why it just started happening...who knows...maybe it's been like this for a while. Thanks all, next version should be working.

[2022-10-04 17:13] #255 closed

[2022-10-04 22:09] Vacilando commented on #255
I confirm that gatsby-source-s3@3.1.4 works fine, thanks for the fix, @moonmeister!

[2022-10-19 22:03] tsdexter opened #268 "feat(gatsby-plugin-fastify): add support for fastify `caseSensitive` option"
## Is your feature request related to a problem? Please describe.

Gatsby is often used with Wordpress. Wordpress does not follow RFC spec for case sensitivity in URLs (hence on a typical wordpress site, any casing in your URL will return the expected page and users are accustomed to this). Fastify URLs are case sensitive by default. Incorrectly cased URLs pointing at Wordpress sites do not work w

[2022-10-19 23:03] moonmeister commented on #268
This makes sense, you interested in contributing a PR?

[2022-10-19 23:07] tsdexter commented on #268
@moonmeister enabling it by default, I can probably add pretty quick...but I assume you would prefer a configuration option? That'll take me a little more digging through the code, writing tests etc... Still willing to add it, but we're currently prepping for launch early Nov. and have a decent backlog from UAT results so it'll take me a few weeks minimum, if not longer.

[2022-10-20 02:46] moonmeister commented on #268
If I get a chance I'll implement this...I might actually just implement the ability to override any Fastify server config instead of just this setting so folks can tweak as needed.

[2022-10-20 23:06] tsdexter commented on #268
@moonmeister  That would be ideal, and I'd really appreciate it.

While you're in there, if it's not much extra work, I also need the ability to send custom headers for SSG routes - not sure how much work that would be.

I was looking into a PR to essentially have an env var `process.env.NEVER_CACHE_HEADER` that you could set to replace the value of the existing `NEVER_CACHE_HEADER` constant, but

[2022-10-20 23:08] moonmeister commented on #268
I think I have a half baked PR or branch for this somewhere....🤔

[2022-10-21 16:57] tsdexter commented on #268
@moonmeister nice, that looks pretty extensive - would have taken me quite some time to figure that out..do you think it's far from completion or that it even still works now that fastify is at 4.x?

[2022-10-21 17:27] moonmeister commented on #268
No idea, it's very stale.

[2022-10-24 00:28] sebhewelt commented on #225
I was trying to understand why it doesn't process my markdown files. I believe `gatsby-source-s3-images` would be a more accurate name for this source plugin, rather than `gatsby-source-s3` 😅 Looking forward to that enhancement 👍👏

[2022-10-27 12:43] tsdexter opened #270 "bug(gatsby-plugin-fastify): Fastify style splat routes break windows"
## Describe the bug

The repo cannot be cloned for contributing on Windows (see: https://stackoverflow.com/questions/63727594/github-git-checkout-returns-error-invalid-path-on-windows) ... I know, windows lol, but that's what I have at work and I can't bring in my macbook.

When cloning, the errors below come up. Windows can't have `:` in the filename. Workarounds on stackoverflow are cumbersome a

[2022-10-27 16:03] moonmeister commented on #270
🤔 So...I don't have a good answer. The issue here is Gatsby expects the file name to matter, and [Fastify uses the colon for splat routes](https://www.fastify.io/docs/latest/Reference/Routes/#url-building). We could potentially build something that converts from a [windows friendly format that Gatsby supports](https://www.gatsbyjs.com/docs/reference/functions/routing/).

I should do some testing..

[2022-10-27 20:36] tsdexter commented on #270
Thanks! I'll look into WSL in the meantime.

[2022-10-28 13:38] tsdexter opened #271 "bug(gatsby-plugin-fastify): splat redirects not working"
## Describe the bug

The docs on redirects are not very clear/existing. There is really only the section on Reverse Proxy (which I assume is specific to redirects with `statusCode: 200`) so I'm not really sure if this is a bug or intended behaviour.

Most of the redirect types from the Gatsby docs do not work.  https://support.gatsbyjs.com/hc/en-us/articles/1500003051241-Working-with-Redirects-and

[2022-10-28 16:25] moonmeister commented on #271
For context, so far, this plugin has not tried to maintain compatibility with Gatsby/Gatsby Cloud in specific syntax. For example, I call out in the docs for Gatsby Function routes use the Fastify API and not the Express style Gatsby usually follows. The docs could be more clear that this also applies to the router and routing syntax. Meaning you'd need to use Fastify routing syntax to do these, a

[2022-10-28 16:36] moonmeister commented on #271
Just, looking at the code that implements redirects, I'm thinking this may be on that code partially or completely. Will do some digging

[2022-10-28 17:48] tsdexter commented on #271
Thanks @moonmeister appreciate all the work you're doing 🍻🍻. No issue on the syntax differences, I've already got functions running with the fastify style, in fact, I did a little extra work so they work on Gatsby Cloud and Fastify (we're testing on both and eventually may move to gatsby cloud during renewal)

[code]

I will do some testing with Fastify style syntax and see whats working. As for a

[2022-10-28 17:57] tsdexter commented on #271
Thanks @moonmeister appreciate all the work you're doing 🍻🍻. No issue on the syntax differences, I've already got functions running with the fastify style, in fact, I did a little extra work so they work on Gatsby Cloud and Fastify (we're testing on both and eventually may move to gatsby cloud during renewal)

[code]

I will do some testing with Fastify style syntax and see whats working. As for a

[2022-10-28 18:02] moonmeister commented on #271
So far I'm only having issues with the query paramaters style `path, the standard path parmas `/test/:param` and `/test/*` are working fine.

[2022-10-28 18:11] moonmeister commented on #271
okay, I think I figured out why, the query params aren't working...I know what needs to change. Just need to see if there's a library or I need to write this code myself.

[2022-10-28 20:01] tsdexter commented on #271
You got this working in the current version or you've made some changes to get it working?

[2022-10-28 20:29] moonmeister commented on #271
Working on changes.

[2022-10-28 22:07] #271 closed

[2022-10-29 00:19] tsdexter commented on #271
@moonmeister just looking through the PR, nice work on the changes... I see you must've also ran into the server failing to start from duplicate redirects... I also used a `Set` to get around that when registering them from a JSON file managed by marketing with many duplicates 👍

[code]

[2022-11-03 14:04] denisgoryaynov opened #289 "bug(gatsby-plugin-fastify): Client-only route that also uses getServerData is not working"
## Describe the bug

I created a client-only route inside `src/pages/community/[...].tsx` and following the gatsby documentation I exported a component containing a `Router` and some routes accessible only by registered users.

The problem I am facing is caused by adding `getServerData` to this page.
Even if the sub-routes of this page are accessible only by registered users I still have some data

[2022-11-03 15:55] moonmeister commented on #289
Hello and welcome! So we just shipped a patch for possibly the same issue in #253, have you updated to the latest version?

[2022-11-04 16:05] denisgoryaynov commented on #289
Hi @moonmeister, thank you for your support!

I updated `gatsby-plugin-fastify` to the latest version 0.9.6. It seems to be able to handle my use case, but when I try to run the server it crashes with the following error: `error Error: Wildcard must be the last character in the route`.

It seems to be caused by the package `find-my-way` which is a dependency of fastify. I tried to add some logs be

[2022-11-04 17:33] moonmeister opened #290 "feat(gatsby-plugin-fastify): http/2 support"
Fastify supports http/2. Support for this will be required for #31 and thus we need to confirm functionality.

[2022-11-04 22:51] tsdexter opened #291 "bug(gatsby-plugin-fastify): colons in `toPath` are not supported by redirects plugin"
## Describe the bug

Having a colon in a redirects `toPath` causes a `500` error.

## To Reproduce

create a redirect such as:

[code]

## Expected behavior

The redirect should work.

[2022-11-05 04:42] #291 closed

[2022-11-08 16:03] moonmeister opened #295 "docs(gatsby-plugin-relative-ci): Write proper readme"
## Description

Evidently the readme was copied from packagist and never updated. @LekoArts caught it and cleaned it up, but we will need to write a proper one.

[2022-11-08 16:06] moonmeister opened #296 "chore(packages): add node18 to repo testing for Gatsby 5 support"
## Describe the bug

Gatsby 5 supports node 18 only. We need to get packages testing on it and repo deps using it.

[2022-11-08 16:08] moonmeister opened #297 "chore(packages): Drop Gatsby v2/v3 support a"
Gatsby v2/v3 are EOL, we should noted support for these in peer deps.

[2022-11-09 15:07] starrett67 commented on #289
This happens for me as well for my SSR page that is served on a matchpath

[2022-11-09 16:54] moonmeister commented on #289
Sorry to hear you're running into an issue.

Are you interested in contributing a fix? I'm not sure when I'll be able to get to this. I know this above suggestion is incorrect, as all SSR related code is in https://github.com/gatsby-uc/plugins/blob/main/packages/gatsby-plugin-fastify/src/plugins/serverRoutes.ts.

If you aren't able to contribute a fix, to help us best begin debugging the underlyin

[2022-11-09 21:15] starrett67 commented on #289
Gonna try to dedicate some more time to this tomorrow!

[2022-11-15 20:38] starrett67 commented on #289
`Should this line check for page?.matchPath?.endsWith('*') to register client routes instead?`

I would not like this solution because I have an SSR page that is ending with *

[2022-11-15 20:52] moonmeister commented on #289
Yeah that fix il incorrect as it would only affect client only routes, not SSR.

[2022-11-16 00:24] moonmeister commented on #289
Think I know why this isn't working. Have a possible fix in the works.

[2022-11-16 05:28] moonmeister commented on #289
ended up being able to reproduce...fix in the works.

[2022-11-16 06:12] #270 closed

[2022-11-16 06:12] #289 closed

[2022-11-17 18:31] starrett67 commented on #289
Hey, @moonmeister I tried the new version with the fix for this issue. I'm still seeing the same error on my end but I think its a slightly separate issue so I'm going to open another one shortly.

[2022-11-17 19:07] starrett67 commented on #289
False alarm! It actually is working I just had to do a fresh build. Thank you so much for fixing this @moonmeister

[2022-11-17 19:25] #296 closed

[2022-11-17 19:27] moonmeister commented on #289
Yay! Yeah the fixes work during the Gatsby build so that makes sense!!

[2022-11-17 20:33] #297 closed

[2022-11-23 01:44] roycejewell opened #308 "bug(gastby-source-supabase): Only returning 1 row on a select all request."
Pretty self explanatory. The graphql api is only exposing and returning 1 row / record even when you query for all rows in a table.

[2022-11-28 20:44] moonmeister commented on #308
Hi @roycejewell!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provid

[2022-11-28 22:58] moonmeister commented on #308
Fyi, I'm using this on https://gatsbyuc.dev and all seems to be working. Make sure the client is returning what you expect from database.